= form_for @relation do |f|
  - if @relation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@relation.errors.count, "error")} prohibited this relation from being saved:"
      %ul
        - @relation.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
