%div{class:"content-box", data:{model_name: relation.class.name.underscore, update_url:article_relation_sort_path(@article) }}
  =link_to edit_article_path(relation.relation) do
    .relation-box
      %h3
        = Article.find(relation.relation).title
      %p
        = Article.find(relation.relation).explanation
      .operation-box.btn{id:"#{relation.id}"}
        -# %li 上へ
        -# %li 下へ
        %li#relation-delete{action:"/articles/#{@article.id}/relations/#{relation.id}"} 削除