-# -binding.pry
.articles-top
  .articles-head
    %h1 記事編集（記事ID：
    %h1
      = @article.id
      %span )

  .article-edit
    .article-edit-box
      = form_with model:@article, method: :patch, class:'article-edit-box-form' do |f|
        %h3 ■タイトル
        .article-edit-box-title
          = f.text_area :title, value: @article.title, id:"title-form"
        %h3 ■説明文
        .article-edit-box-explanation
          = f.text_area :explanation, value: @article.explanation, id:"explanation-form"

    .article-edit-detail
      %h3 ■記事内容
      .article-edit-detail-container
        -# 見出し一覧
        -@article.heads.each do |head|
          .head-box
            = head.head

        -# 本文一覧
        -@article.texts.each do |text|
          .text-box
            = text.text

        -# 関連記事一覧
        -@article.relations.each do |relation|
          .relation-box
            %h3
              = Article.find(relation.relation).title
            %p
              = Article.find(relation.relation).explanation

      .article-create
        .article-create-tag
          %li 見出し
          %li 本文
          %li 関連記事
        .article-create-content
          %section.article-head
            = form_with url:article_heads_path(@article), class:'article-head-form', local:true do |f|
              .article-head-form-box
                = f.text_area :head, placeholder: "見出しを入力", id:"head-form",required:true
              .article-head-form-btn
                = f.submit "保存する", { class: "btn btn-primary", id: 'head-submit'}
          %section.article-text
            = form_with url:article_texts_path(@article), class:'article-text-form', local:true do |f|
              .article-text-form-box
                = f.text_area :text, placeholder: "本文を入力", id:"text-form",required:true
              .article-text-form-btn
                = f.submit "保存する", { class: "btn btn-primary", id: 'text-submit'}
          %section.article-relation
            = form_with url:article_relations_path(@article), class:'article-relation-form', local:true do |f|
              .article-relation-form-box
                = f.collection_select :relation, Article.all, :id, :title, {prompt: '---'}, id:"relation-form"
              .article-relation-form-btn
                = f.submit "保存する", { class: "btn btn-primary", id: 'text-submit'}



  = link_to '記事一覧へ', articles_path, class:"top-link btn btn-outline-info"


